
// Reusable dropdown style
@mixin dropdown-base {
  position: relative;
  display: inline-block;

  .dropdown-toggle {
    @include flex-align;
    background: none;
    border: none;
    font-size: 0.95rem;
    color: #6c757d;
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #212529;
      outline: none;
    }

    img {
      border-radius: 3px;
      vertical-align: middle;
    }
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background: $white-color;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    min-width: 140px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    &.totop {
    top: auto;
    bottom: 100%;
    margin-bottom: 4px;
  }
    li {
      list-style: none;

      a {
        @include flex-align;
        padding: 0.5rem 1rem;
        font-size: 0.95rem;
        color: #212529;
        text-decoration: none;

        img {
          width: 20px;
          border-radius: 3px;
        }

        &:hover {
          background-color: #f8f9fa;
        }
      }
    }
  }

  &.open .dropdown-menu {
    display: block;
  }
}

